<div
  class="hero min-h-screen"
  style="background-image: url(https://wallpapers.com/images/hd/countries-map-lights-51px5m9u26v07i3b.jpg);">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Aplicación de países</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button routerLink="/country" class="btn btn-primary">Empezar</button>
    </div>
  </div>
</div>

